In [1]:
987

987

In [2]:
"SHRIJA BAJPAI"

'SHRIJA BAJPAI'

In [3]:
print('shrija')

shrija

In [4]:
print(1,2,3)

1 2 3

In [5]:
print('brahmaastra', 2022)

brahmaastra 2022

In [6]:
print('This is a Line')
print('Another Line')
print('and the final text line')

This is a Line
Another Line
and the final text line

In [7]:
a='apple'
b=20
c=200
print(a, b, c)

apple 20 200

In [8]:
city='lucknow'
state='uttar pradesh'
name='shri'
name='bajpai'

In [9]:
city='lucknow'
state='uttar pradesh'
name='shri'
name2='bajpai'

In [10]:
food=input()
print(food)

In [11]:
food=input()
print(food)

In [12]:
city=input()
print(city)

In [13]:
a='apple'
type(a)

str

In [14]:
a=101
type(a)

int

In [15]:
a=None
type(a)

NoneType

In [16]:
a='300'
print(a,type(a))
b=int(a)
a=int(a)
print(b,type(b))
print(a,type(a))

300 <class 'str'>
300 <class 'int'>
300 <class 'int'>

In [18]:
a=input('Enter A=')
b=input('Enter B=')
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)

<class 'str'> <class 'str'>
11

In [ ]:
a=int(input('Enter a number'))
b=int(input('Enter a number'))
print(a+b)

8

In [ ]:
a=int(input('Enter a number'))
b=int(input('Enter a number'))
c=a+b
print(c)

8

In [ ]:
a=4
b=5
a+b

9

OPERATORS

ARITHMATIC OPERATORS

In [ ]:
a=4
b=5