# condition
1. if
2. if else
3. if elif else
4. nested if
5. match case(only works on python 3.10 or above)

syntax

if condition:

statement

In [1]:
if 100>10:
    print('100 is greater than 10 ')

100 is greater than 10

In [2]:
if 5>10:
    print('5 is greater than 10')

In [5]:
a=10
b=20
if a<b:
    print('this is great')
    print(f'{a} is greater than {b}')

this is great
10 is greater than 20

In [11]:
data=input("Enter a data:")
if data.isalpha():
    print("This is a string")
if data.isnumeric():
    print("This is numeric")
if data.isspace():
    print("This is a space")

This is a space

In [12]:
temp = 23
if temp < 29:
    print("It is hot")
else:
    print('It is cool')

It is hot

In [13]:
a=int(input("Enter a number"))
if a%2==0:
    print("It is a even number")
else:
    print("It is odd number")

It is odd number

In [16]:
fruit = input("What fruit do you like?")
if fruit == 'apple':
    print('An apple a day keeps a doctor away')
elif fruit == 'mango':
    print('Mango is the king of fruits')
elif fruit == 'banana':
    print('Banana is good source of potassium')
elif fruit == 'orange':
    print('Orange is the good source of Vitamin C')
else:
    print('Not found in the database')

An apple a day keeps a doctor away

In [18]:
username = input("Enter your username")
password = input("Enter your password")
if username == "Shrija":
    if password == "123":
        print("Welcome Shrija")
    else:
        print("Wronf password")

Welcome Shrija

# wap to calculate the employee total salary base on following condition
- if basic salary is less than 10000 then hra is 10% of basic salary and da is 90% of basic salary
- if basic salary is greater than 10000 then hra is 20% of basic salary and da is 80% of basic salary
- if basic salary is greater than 20000 then hra is 25% of basic salary and da is 75% of basic salary

In [2]:
basic_salary=float(input("Enter the salary:"))
if basic_salary < 10000:
    hra = 0.1*basic_salary
    da = 0.9*basic_salary
elif basic_salary > 10000 and basic_salary < 2000:
    hra = 0.2*basic_salary
    da = 0.8*basic_salary 
elif basic_salary > 20000:
    hra = 0.25*basic_salary
    da = 0.75*basic_salary  
total_salary=hra+da+basic_salary
print(f"{hra} is your hra") 
print(f"{da} is your da")
print("Total salary base:",total_salary)

7500.0 is your hra
22500.0 is your da
Total salary base: 60000.0

In [2]:
icecream = input("Enter the name of icecream -")
match(icecream):
    case "chocolate":
        print("chocolate = 200.00")
    case "vanilla":
        print("vanilla = 100.00")
    case "blueberry":
        print("blueberry = 300.00")
    case _:
        print("Not available")

Not available

In [1]:
a=5
b=9
a+b

14

In [10]:
n = int(input().strip())
if n%2 != 0:
    print("Weird")
elif n%2 == 0  and 2<=n<=5:
    print("Not Weird")
elif n%2 == 0 and 6<=n<=20:
    print("Weird")
elif n%2 ==0 and n>20:
    print("Not Weird")

Weird

In [1]:
n = int(input())
for i in range(1,n+1):
    print(i,end="")

123456789

In [5]:
for i in range(10,0,-3):
    print(i)

10
7
4
1

In [7]:
# reverse loop
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [8]:
veg = ['potato', 'tomato', 'onion', 'cabbage', 'carrot']
for item in veg:
    print(item)

potato
tomato
onion
cabbage
carrot

enumerate()

In [10]:
for index,value in enumerate(veg):
    print(index,'got',value)

0 got potato
1 got tomato
2 got onion
3 got cabbage
4 got carrot

zip

In [17]:
veg = ['potato', 'tomato', 'onion', 'cabbage', 'carrot']
prices = [35, 80, 50, 25, 40]
number = [1, 2, 3, 4, 5]

In [16]:
# non pythonic version of code
for i in range(len(veg)):
    print(f'{veg[i]}--------{prices[i]}')

potato--------35
tomato--------80
onion--------50
cabbage--------25
carrot--------40

In [19]:
# pythonic
for v,p,n in zip(veg, prices, number):
    print(f'{n}.{v}--------{p}')

1.potato--------35
2.tomato--------80
3.onion--------50
4.cabbage--------25
5.carrot--------40

### wap to print following list using zip
- list1 contains movie title
- list1 contains movie rating
- list1 contains movie year
- list1 contains movie director

In [20]:
list1=['Kite', 'Andhadhun', 'Bhootnath']
list2=['4.2', '3.5', '4']
list3=['2005', '2017', '2007']
list4=['Ralph Ziman', 'Sriram Raghavan', 'Vivek Sharma']

In [23]:
for l1,l2,l3,l4 in zip(list1, list2, list3, list4):
    print(f'{l1} directed by {l4} in {l3} ratings:{l2}')

Kite directed by Ralph Ziman in 2005 ratings:4.2
Andhadhun directed by Sriram Raghavan in 2017 ratings:3.5
Bhootnath directed by Vivek Sharma in 2007 ratings:4

Nested loops

In [24]:
for i in range(10):
    for i in range(10):
        print(i,end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

# break and continue

In [29]:
x = [1,2,3,4,5,6,7,8]
for i in  x:
    if i == 7:
        break
    print(i, end =' ')

1 2 3 4 5 6

In [30]:
x = [1,2,3,4,5,6,7,8]
for i in  x:
    if i == 7:
        continue
    print(i, end =' ')

1 2 3 4 5 6 8

continue statement is not used much

In [33]:
x = [1,2,3,4,5,6,7,8]
for i in  x:
    if i != 7:
        print(i, end =' ')

1 2 3 4 5 6 8

In [50]:
n=int(input("enter a number"))
for i in range(2,n):
    if n%i == 0:
        print('Not prime number')
        break
else:
    print('prime number')

prime number

In [52]:
for num in range(1,100):
    if num == 1:
        continue
    for i in range(2,num):
        if num %i == 0:
            break
    else:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# while loop

In [56]:
x = 10
while x>0:
    x-=2
    print(x,end=' ')

8 6 4 2 0

In [59]:
total=0
while True:
    num = int(input("enter a number"))
    if num == 0:
        break
    total += num
print(f"Total is {total}")

Total is 9

In [63]:
books= []
while True:
    name = (input('enter a book name:'))
    if name:
        books.append(name) # add item to list
    else:
        break
print('These are your books')
print(books)

These are your books
['you can win', 'together ever', 'ramayana', 'bhagvat geeta']