# Definig lists in python

In [2]:
# List of strings
list1=['Nikhil','Rahul','Amrita','Humpy','Bumpy']

# List of numbers
list2=[1,2,3,4,5]

# Mixed data list
list3=['Ravi',90,102,93,29,44,'B',False,5.786]

# Nested list
list4=[[1,2,3,],[3,4,5,7],[2,1]]

In [3]:
x=[]  # empty list

In [4]:
y=[1,2,3] * 10     # duplicated list
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
z=[1,2,3] + [3,2,3]   # concatenate list
print(z)

[1, 2, 3, 3, 2, 3]

In [6]:
a= list(range(1,100))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [7]:
twoMult=list(range(2,51,2))
print(twoMult)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

# list has 11 methods
- addition
    - append 
    - insert
    - extend
- deletion
    - remove
    - pop
    - clear
- utility
    - index
    - copy
    - sort
    - reverse

In [8]:
movies=[]

In [35]:
movies.append('Harry Potter')

In [37]:
fav_movie=input('Enter your fav movie:')
movies.append(fav_movie)
print(movies)

['love', 'Harry Potter', 'love', 'love', 'l', 'kj', 'oiur', 'kjh', 'mnb', 'Harry Potter', 'Harry Potter', 'love', 'hello']

In [33]:
for i in range(5):
    movies.append(input('Enter movies'))
print(movies)

['love', 'Harry Potter', 'love', 'love', 'l', 'kj', 'oiur', 'kjh', 'mnb']

In [12]:
for movie in movies:
    print(f'-> {movie.lower()}')

-> harry potter
->
->
->
->
->
->

In [13]:
movies[2]='shazam'
print(movies)

['Harry Potter', '', 'shazam', '', '', '', '']

In [42]:
# insert function
fruits=['apple','banana','orange','pineapple']
fruits.insert(1,'blueberry')
print(fruits)

['apple', 'blueberry', 'banana', 'orange', 'pineapple']

In [15]:
# extend function
fruits=['apple','banana','orange','pineapple']
dry_fruits=['Almond','cashew','walnut']
fruits.extend(dry_fruits)
print(fruits)

['apple', 'banana', 'orange', 'pineapple', 'Almond', 'cashew', 'walnut']

In [16]:
num=[4,9,3,2,5]
num.sort()
print(num)

[2, 3, 4, 5, 9]

In [17]:
fruits=['apple','banana','orange','Pineapple']
fruits.sort()
print(fruits)

['Pineapple', 'apple', 'banana', 'orange']

In [18]:
movies.sort(reverse=True)
print(movies)

['shazam', 'Harry Potter', '', '', '', '', '']

In [19]:
movies.sort()
print(movies)

['', '', '', '', '', 'Harry Potter', 'shazam']

In [20]:
movies.remove('shazam')

In [21]:
if "shazam" in movies:
    movies.remove('shazam')

In [22]:
movies.pop(3)

''

In [23]:
movies.clear()

In [24]:
x=[12,3,4,5,6,7,8,9,98,7,6,5,4,3,2,6]
x.reverse()
print(x)

[6, 2, 3, 4, 5, 6, 7, 98, 9, 8, 7, 6, 5, 4, 3, 12]

In [25]:
x.count(8)

1

In [26]:
y=x   # copy reference

In [27]:
y.append(10)
x.append(20)
print(x)
print(y)

[6, 2, 3, 4, 5, 6, 7, 98, 9, 8, 7, 6, 5, 4, 3, 12, 10, 20]
[6, 2, 3, 4, 5, 6, 7, 98, 9, 8, 7, 6, 5, 4, 3, 12, 10, 20]

In [28]:
z=x.copy()
z.append(985)
x.append(36)
print(x)
print(z)

[6, 2, 3, 4, 5, 6, 7, 98, 9, 8, 7, 6, 5, 4, 3, 12, 10, 20, 36]
[6, 2, 3, 4, 5, 6, 7, 98, 9, 8, 7, 6, 5, 4, 3, 12, 10, 20, 985]